@media (max-width: 1440px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1366px) {
    .imgRow img {
        max-width: 200px;
        height: 400px;
    }

    .contentCard {
        padding: 1rem;
    }

    .gallerySlider .sliderImg img {
        height: 600px;
    }
}

@media (max-width: 1199.98px) {
    html {
        font-size: 13px;
    }

    .contentBox.middle {
        max-width: 600px;
        margin-left: auto;
        margin-right: 0;
    }

    .contentBox.middle .contentImg {
        left: -300px;
    }

    footer p {
        text-shadow: 0 0 5px black;
    }

    footer .logo img {
        filter: drop-shadow(0 0 5px black);
    }

    .imgCard img {
        max-width: 400px;
        width: 100%;
    }

    footer.colored .logo img, footer.colored p {
        filter: none;
        text-shadow: none;
    }

    .contentCardHeading {
        font-size: 2rem;
    }
}

@media (max-width: 1024px) {
    .contentBox.left .contentImg {
        top: -50px;
    }
}

@media (max-width: 991.98px) {
    html {
        font-size: 12px;
    }

    .contentBox .bg svg {
        width: 100%;
    }

    .contentBox .contentImg {
        bottom: -90px;
    }

    .secBannerImg {
        width: 70%;
    }

    .cardsRow {
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: 2rem;
        margin-block: 2rem;
    }

    .altrContentSec .content .contentImg {
        max-width: 100%;
        max-height: 450px;
    }

    .cardsRow.vertical {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .imgRow {
        margin-bottom: 2rem;
    }
}

@media (max-width: 768.98px) {
    html {
        font-size: 14px;
    }

    .mainHeading {
        font-size: 7rem;
    }

    .contentBox {
        max-width: 100% !important;
        margin-left: 0;
        position: unset;
    }

    .contentBox .bg {
        display: none;
    }

    .contentBox .content {
        position: unset;
        width: 100% !important;
        margin: 0 !important;
    }

    .contentBox .content h2 {
        color: #fff;
    }

    .contentBox .content p {
        color: #fff;
    }

    .themeBtnAltr {
        color: #fff;
        margin-left: 0;
    }

    .themeBtnAltr::before, .themeBtnAltr::after {
        background: #fff;
    }

    .contentBox .contentImg {
        top: 1rem !important;
        bottom: unset !important;
        right: 1rem !important;
        left: unset !important;
        transform: none !important;
    }

    .contentBox .content h6 {
        color: #fff;
    }

    .contentBox .content h6 a {
        color: #fff;
    }

    .contentBox .content h6 .links a + a::before {
        background: #fff;
    }

    footer {
        padding: 1rem 0 7rem;
    }

    .gallerySlider.first .swiper-slide,
    .gallerySlider .slide-75 {
        width: 100% !important;
    }

    .fancybox__caption {
        bottom: 100px;
    }
}

@media (max-width: 575.98px) {
    html {
        font-size: 13px;
    }

    /*.gradient-color{*/
    /*    animation: none;*/
    /*}*/
    .contentBox .contentImg img {
        width: 300px;
    }

    .mainHeading {
        font-size: 4rem;
    }

    .contentBox .content h6 a {
        font-size: 1.125rem;
    }

    footer .copyright {
        justify-content: center;
    }

    footer .logo {
        justify-content: center;
    }

    .cardHeading {
        font-size: 3rem;
    }

    .themeBtnAltr {
        width: 100% !important;
    }

    .imgRow {
        flex-direction: column;
    }

    .imgRow img {
        max-width: 100%;
        height: 200px;
    }

    .cardsRow.vertical {
        flex-wrap: wrap;
    }

    .gallerySlider .sliderImg img {
        height: auto;
    }

    .sliderSec {
        min-height: auto;
    }

    .innerBan .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

    .innerBan .content .mainHeading {
        text-shadow: 0 0 5px black;
        font-size: 5rem;
    }

    .imgCard img {
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 20px;
    }

    .imgCard {
        width: 100%;
    }

    .footerBtn span {
        font-size: 2rem;
    }

    .gallerySlider .swiper-wrapper {
        align-items: center;
    }

    .secBannerImg {
        width: calc(100% - 9px * 2) !important;
        border-radius: 20px;
        right: auto;
    }
}

@media (max-width: 399.98px) {
    .contentBox .contentImg img {
        width: 250px;
    }
}

@media (max-width: 320.98px) {
    html {
        font-size: 11px;
    }
}
