@import "./fonts.css";

:root {
    --color-1: #00AAC1;
    --color-2: #BCCF02;
    --color-3: #EF9757;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top right, var(--color-1), var(--color-2), var(--color-3));
}

html.lenis {
    height: auto
}

:root {
    scroll-behavior: initial;
    overscroll-behavior: none;
}

.lenis.lenis-smooth {
    scroll-behavior: auto
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

.lenis.lenis-scrolling iframe {
    pointer-events: none
}

.img-auto {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

a,
button {
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a:hover,
button:hover {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.customCont {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-left: auto;
    max-width: 1700px;
    margin-right: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.themeBtn {
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    color: #000;
}

.themeBtn span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Milky Walky';
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 5px;
}

.themeBtnAltr {
    text-align: center;
    font-size: 2rem;
    color: #000;
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Milky Walky';
    font-weight: 400;
    text-transform: uppercase;
}

.themeBtnAltr::before,
.themeBtnAltr::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    top: -5px;
    left: 0;
    transition: all 0.3s ease;
}

.themeBtnAltr::after {
    bottom: -5px;
    top: initial;
}

.themeBtnAltr:hover::after {
    bottom: -15px;
}

.themeBtnAltr:hover::before {
    top: -15px;
}

.themeBtnSm {
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
}

.themeBtnSm i {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#00AAC1, #EAE007, #EF9757);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Body Background */

body.active > .bodyBg {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.bodyBg {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: var(--color-2);
    flex-wrap: wrap;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

.gradient-color {
    width: 50%;
    height: 50%;
    display: flex;
    border-radius: 30% 80% 75% 40% / 40% 40% 70% 50%;
    animation-name: animate;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media (max-width: 991px) {
    .gradient-color {
        animation: none;
    }
}

@keyframes animate {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 60%;
        transform: scale(2) rotate(0deg) translate(10%, 10%);
    }
    100% {
        border-radius: 88% 10% 22% 58% / 73% 56% 34% 77%;
        transform: scale(2) rotate(180deg) translate(10%, -10%);
    }
}

.gradient-color:nth-child(1) {
    background-color: var(--color-1);
    animation-direction: backwards;
}

.gradient-color:nth-child(2) {
    background-color: var(--color-2);
}

.gradient-color:nth-child(3) {
    background-color: var(--color-3);
    animation-direction: backwards;
}

/*.gradient-color:nth-child(4) {*/
/*    background-color: var(--color-4);*/
/*}*/

.gradient-backdrop {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
}

/* Body Background */

/* General Fonts */

.mainHeading {
    font-size: 9.375rem;
    font-family: 'Milky Walky';
    text-transform: uppercase;
    font-weight: 400;
}

.mainHeading .word {
    display: block !important;
    overflow: hidden;
}

.mainHeading.nowrap .word {
    display: inline !important;
}

.mainHeading .word .char {
    transform: translateY(30px) translateZ(5px);
    opacity: 0.5;
    visibility: hidden;
}

.cardHeading {
    font-size: 4.25rem;
    font-family: 'Milky Walky';
    text-transform: uppercase;
    font-weight: 400;
}

.contentCardHeading {
    font-size: 2.625rem;
    font-family: 'Milky Walky';
    text-transform: uppercase;
    font-weight: 400;
}

.contentCardHeading span {
    font-size: 1.875rem;
    font-weight: 600;
    font-family: 'Genos';
}

.normalText {
    font-size: 1.875rem;
    font-family: 'Genos';
    font-weight: 400;
}

.normalText span {
    font-weight: bold;
}

.caption {
    font-size: 1.125rem;
    font-family: 'Genos';
    font-weight: 500;
    margin-top: 3rem;
}

.smallText {
    font-size: 1.375rem;
    font-family: 'Genos';
    font-weight: 500;
    margin: 0;
}

/* General Fonts */

/* Header */

header {
    position: relative;
    z-index: 11111;
}

header .menu {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

header .menuBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    background: transparent;
    border: none;
    cursor: pointer;
}

header .menuBtn:hover {
    transform: scale(1.1);
}

header .menuBtn svg {
    animation: rotation 10s linear infinite alternate;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header .menuBtn i {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(#00AAC1, #EAE007, #EF9757);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
}

header .menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;
}

header .menu ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    letter-spacing: 2px;
    user-select: none;
}

/*header .menu ul li a::before {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    height: 3px;*/
/*    background: #fff;*/
/*    width: 100%;*/
/*    content: '';*/
/*    transform: scaleX(0);*/
/*    transform-origin: left;*/
/*    transition: all 0.3s ease-in-out;*/
/*}*/

/*header .menu ul li a:hover::before {*/
/*    transform: scaleX(1);*/
/*}*/

body.active .menu {
    opacity: 1;
    visibility: visible;
    user-select: all;
}

/* Header */

.homeBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.homeBanner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blob {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotationBig {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.blob img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.blob h1 {
    color: #Fff;
    position: absolute;
    text-align: center;
}

.bottomBtn {
    display: inline-flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    gap: 1rem;
    z-index: 11;
}

.scrollToBottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    color: #Fff;
    font-family: 'Milky Walky';
    font-size: 1.375rem;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 0 5px BLACK;
}

/*Home Banner*/

.contentBox {
    position: relative;
    max-width: 764px;
}

.contentBox .bg {
    animation: rotation 15s linear infinite backwards;
    transform-origin: center center;
}

.contentBox.right {
    margin-left: auto;
}

.contentBox .content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
    margin: auto;
}

.contentBox .content h2 {
    margin: 0 0 10px;
}

.contentBox .content p {
    margin-bottom: 50px;
}

.contentBox .contentImg {
    position: absolute;
    bottom: -120px;
    left: -180px;
}

.contentBox.left .contentImg {
    top: -120px;
    bottom: initial;
    left: initial;
    right: -120px;
}

.contentBox.middle {
    max-width: 800px;
    margin: auto;
}

.contentBox.middle .content {
    width: 65%;
}

.contentBox.middle .content .themeBtnAltr {
    width: 80%;
    margin-left: 0;
}

.contentBox.middle .contentImg {
    top: 70%;
    bottom: unset;
    transform: translateY(-70%);
    left: -250px;
}

.contactSec .content .logoImg {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.contentBox .content h6 {
    font-size: 2.875rem;
    text-transform: uppercase;
    font-family: "Genos", sans-serif;
    font-weight: 400;
    margin: 2rem 0 0;
}

.contentBox .content h6 .links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.contentBox .content h6 a {
    font-size: 1.875rem;
    position: relative;
    color: #000;
}

.contactSec .content {
    width: 70%;
    margin-left: 20%;
}

.contentBox .content h6 .links a + a::before {
    content: '';
    position: absolute;
    left: -0.5rem;
    top: 50%;
    transform: translateX(-50%);
    background: #000;
    border-radius: 100%;
    width: 5px;
    height: 5px;
}

.contactSec .contentBox {
    max-width: 950px;
}

.wrapper section:last-of-type {
    position: sticky;
    top: 0;
}

footer {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 1rem 5rem 5rem;
}

footer.colored {
    background: url("../images/footerBg.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

footer .row {
    align-items: end;
}

footer .logo {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

footer p {
    margin: 0;
    color: #ffffff;
}

footer .copyright {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

@keyframes gradientChange {
    0% {
        stop-color: #EAE007;
    }
    33% {
        stop-color: #EF9757;
    }
    66% {
        stop-color: #00AAC1;
    }
    100% {
        stop-color: #EAE007;
    }
}

.gradient-stop1 {
    animation: gradientChange 5s linear infinite;
}

.gradient-stop2 {
    animation: gradientChange 5s linear infinite 1.67s; /* Offset the animation */
}

.gradient-stop3 {
    animation: gradientChange 5s linear infinite 3.33s; /* Offset the animation */
}

.wrapper section {
    padding: 6rem 0;
}

.innerBan .bannerImg {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.innerBan .content {
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translate(-25%, -15%);
}

.innerBan .content.full {
    width: 100%;
    padding-left: 7%;
}

.innerBan .content h1 {
    color: #fff;
    text-shadow: 0 0 36px #000;
}

.imgRow {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.imgRow img {
    max-width: 250px;
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bgBlob {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

.bgBlob img,
.bgBlob svg {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.altrContentSec .content .contentImg {
    border-radius: 20px;
    overflow: hidden;
    max-width: 560px;
    max-height: 330px;
}

.altrContentSec .content .contentImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardsRow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cardsRow.vertical {
    flex-direction: column;
}

.contentCard {
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.contentCard h6 {
    font-weight: 600;
}

.contentCard ul li {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.contentCard ul li::before {
    content: '';
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 100%;
}

.wrapper section.imgSec {
    padding: 20rem 0 6rem;
}

.secBannerImg {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 820px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
}

.secBannerImg.second {
    width: auto;
    height: auto;
}

.gallerySlider .sliderImg {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: block;
    border: 0;
    box-shadow: none;
    outline: none;
}

.gallerySlider .sliderImg img {
    max-width: 100%;
    height: 800px;
    object-fit: cover;
    width: auto;
    border-radius: 20px;
    display: block;
}

.gallerySlider .swiper-slide:first-child .sliderImg img {
    margin-left: auto;
}

.fancybox__container {
    z-index: 1111;
}

.fancybox__caption {
    position: absolute;
    bottom: 30px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    z-index: 1111;
    font-size: 1rem;
    font-family: 'Genos';
    font-weight: 600;
}

.gallerySlider .swiper-wrapper {
    padding-bottom: 3rem;
}

.swiper-pagination-bullet {
    background: linear-gradient(to top right, var(--color-1), var(--color-2), var(--color-3));
    width: 8px;
    height: 8px;
    opacity: 1;
    position: relative;
}

.swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    inset: 10%;
    border-radius: 100%;
    background: #fff;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active::before {
    opacity: 0;
}

.footerBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-size: 1.25rem;
}

.footerBtn span {
    font-size: 3.125rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Milky Walky';
}

.gallerySlider.first .swiper-slide {
    width: 50% !important;
}

.gallerySlider .slide-75 {
    width: 75% !important;
}

.imgCol {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.imgCol .longImg.rotated {
    display: none;
}

.imgCol .longImg img {
    height: 670px;
    border-radius: 20px;
    max-width: 270px;
    width: 100%;
    object-fit: cover;
}

.imgCol .brandRow {
    position: relative;
}

.imgCol .brandRow .brandWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    background: #fff;
    z-index: 1;
    padding: 2rem 1rem;
}

.imgCol .brandRow::before {
    content: '';
    position: absolute;
    inset: -20px;
    border: 9px solid transparent;
    background: linear-gradient(transparent, transparent), linear-gradient(to top right, var(--color-1), var(--color-2), var(--color-3));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.lgImgSec .content.lg {
    position: absolute;
    bottom: 20%;
    z-index: 1;
    width: 75%;
}

.lgImgSec .content.lg .cardHeading {
    color: #fff;
}

.lgImgSec .content.lg p {
    color: #fff;
    font-size: 3rem;
    font-family: 'Milky Walky';
    text-align: center;
    width: 65%;
    margin: 4rem auto 0;
}

.sideModal {
    position: fixed;
    top: 0;
    right: -650px;
    max-width: 650px;
    width: 100%;
    z-index: 11;
    background: #fff;
    border-radius: 20px 0 0 20px;
    overflow: clip;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    height: 100vh;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
}

.sideModal.active {
    right: 0;
}

.sideModal figure img {
    height: 350px;
    width: 100%;
    margin: 0 0 1rem;
    object-fit: cover;
}

.sideModal .themeBtnSm {
    position: absolute;
    top: 0;
    right: 0;
}

.sideModal .themeBtnSm svg {
    opacity: 0;
}

.contentImg img {
    width: 100%;
    max-width: 560px;
    max-height: 780px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.mapSec {
    width: 90%;
    margin: auto;
}

.mapSec .mapImg {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: grab;
}

.mapSec .mapImg img {
    position: absolute;
    user-select: none; /* Prevent image selection while dragging */
    -webkit-user-drag: none; /* Prevent image drag effect in webkit browsers */
}

.mapSec .mapImg::-webkit-scrollbar {
    display: none;
}

.mapSec .contentTable {
    position: absolute;
    bottom: 7rem;
    z-index: 1;
    left: 1rem;
    background: #fff;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 36px #0005;
    overflow: hidden;
}

.contentTable .contentTableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding: 8px 0;
}

.contentTable .contentTableRow .contentTableCol {
    width: 20%;
    flex: 0 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentTable .contentTableRow .contentTableCol:first-child {
    width: 60%;
    flex: 0 1 60%;
    display: block;
}

.contentTable h3 {
    margin: 0;
}

.cardsRow.gentily > * > * {
    max-width: 300px;
    width: 100%;
}

.cardsRow.gentily .imgCard img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}